body {
  width: 508px;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  margin-after: .25em;
}

h4 {
  margin: 0px;
}

nav {
  /* why can't i find a way for this to wrap children? */
  height: 28px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav li {
  float: left;
  height: 15px;
  width: 75px;
}
  nav li.inactive {
    background: #4C015F;
    color: #FFFFFF;
  }

li, .tab {
  border: 2px solid #000;
  border-radius: 5px;
  background: #C582D6;
  padding: 5px;
}

div.button_row {
  align-contents: center;
}

section.calc {
  text-align: right;
  padding: 10px;
}
  section.calc span {
    min-width: 50px;
    background-color: #FFFFFF;
    border-radius: 3px;
    display: inline-block;
    margin: 2px;
  }
  
section#contributors {
  text-align: center;
}

.pos {
  background-color: palegreen;
  color: green;
}
.neg {
  background-color: palevioletred;
  color: red;
}

label {
  padding: 3px;
  margin: 2px;
}

input:disabled {
  background-color: lightgrey;
}

table {
  border: 3px ridge #A0A0A0;
}

button {
  height: 25px;
  width: 75px;
  margin: 5px 202px 5px 202px;
  background: #4C015F;
  color: #FFFFFF;
}

div#notifications {
  position: absolute;
  display: none;
  padding: 50px;
  top: 150px;
  left: 125px;
  background-color: paleturquoise;
  border: 2px solid black;
  border-radius: 10px;
}
